.custom-file-upload span {
    background-color: rgba(128, 128, 128, 0.622);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.359);
}

.boton-agregar{
    margin: 10px;
    letter-spacing: 1px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
  }

.body-file-upload {
    display: flex;
    align-items: center;
    flex-direction: row;
}
